<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681609163700-ifi663iq30pj81gr9ok9vi1v8h5f4054.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681609163700-ifi663iq30pj81gr9ok9vi1v8h5f4054</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-Y-OrpUIx_CpUGnvXOj7MKGSyTRsaPY</string>
	<key>GCM_SENDER_ID</key>
	<string>681609163700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovafoundation.copay</string>
	<key>PROJECT_ID</key>
	<string>copay-innova</string>
	<key>STORAGE_BUCKET</key>
	<string>copay-innova.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681609163700:ios:38df85564b559ca9bff8e1</string>
</dict>
</plist>